<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Blog </title>

</head>
<body>
    <nav>
        <a href="/">HOME</a>
    </nav>
    <h2> Post List </h2>
    {% for p in post_list %}
    <!--클래스 사용시에는 post_list를 사용해야해 -->
    <!--{% for p in posts %} 문법적인 구문들 사용 가능. posts로 넘어와. = 여러개 // 아예 지우고 실행! -->
    <hr />
    <h3><a href="{{p.get_absolute_url}}"> {{ p.title }} </a></h3>
    <!-- ㄴ>필드를 그대로 가져와. 필드 먼저 찾고 없으면 함수를 찾음. 그래도 없으면 에러처리. 모델 안에 있는 함수-->
    <!--<h3><a href="{{p.pk}}"> {{ p.title }} </a></h3>  편한 방식.-->
    <p>{{p.created_at}}</p>
    <p>{{p.content}}</p>

    {% endfor %}

</body>
</html>